<!-- /templates/fragments/brandLogos.html -->
<link rel="stylesheet" th:href="@{/css/baibuy-theme.css}" />
<link th:href="@{/css/landing.css}" rel="stylesheet">
<div th:fragment="brand-logos">
    <div class="brand-logos-container">
        <section class="brand-logos">
            <img src="/brandlogos/versace.svg" alt="Versace" class="brand-logo" />
            <img src="/brandlogos/zara.svg" alt="Zara" class="brand-logo" />
            <img src="/brandlogos/gucci.svg" alt="Gucci" class="brand-logo" />
            <img src="/brandlogos/prada.svg" alt="Prada" class="brand-logo" />
            <img src="/brandlogos/calvinklein.svg" alt="Calvin Klein" class="brand-logo" />
        </section>
    </div>
</div>
