<!-- /templates/fragments/brandLogos.html -->
<link th:href="@{/css/landing.css}" rel="stylesheet">
<link th:href="@{/css/baibuy-theme.css}" rel="stylesheet">
<div th:fragment="brand-logos">
    <div class="brand-logos-container">
        <section class="brand-logos">
            <img src="/brandlogos/samsung.svg" alt="Versace" class="brand-logo" />
            <img src="/brandlogos/zara.svg" alt="Zara" class="brand-logo" />
            <img src="/brandlogos/apple.svg" alt="Gucci" class="brand-logo" />
            <img src="/brandlogos/adidas.svg" alt="Prada" class="brand-logo" />
            <img src="/brandlogos/nike2.svg" alt="Calvin Klein" class="brand-logo" />
        </section>
    </div>
</div>
