<!-- /templates/fragments/promoBanner.html -->
<link rel="stylesheet" th:href="@{/css/baibuy-theme.css}" />
<link th:href="@{/css/landing.css}" rel="stylesheet">
<div th:fragment="promo-banner">
    <div id="promo-banner" class="flex justify-center items-center p-4 bg-purple-600 text-white">
        <p class="text-xs sm:text-sm md:text-base text-center">
            Sign up and get 20% off on your first order. 
            <a href="/auth/signup" class="underline">Sign Up Now</a>
        </p>
        <button onclick="document.getElementById('promo-banner').style.display='none'" class="ml-4 text-white font-bold text-xl">
            &times;
        </button>
    </div>
</div>
